ul{
    list-style: none;
    display: flex;
    gap:1rem;
    background-color: lightgray;
}

ul li:hover{
    transform: scale(1.5);
}

ul li[data-selected=true]{
    background-color: grey;
}

[data-tab-content]{
    display: none;
}

.active[data-tab-content]{
    display: block;
}

.selectedTab{
    background-color: grey;
}